<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>Index</title>

  <!-- Styles -->
  <link rel='stylesheet' href='public/vendor/bootstrap/dist/css/bootstrap.css' />
  <link rel='stylesheet' href='public/vendor/bootstrap/dist/css/bootstrap-theme.css' />
  <link rel='stylesheet' href='public/css/main.css' />
</head>
<body>

  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
   <ul class="nav navbar-nav">
     <li ng-show="isLoggedIn()"><a>{{ currentUser.username }}</a></li>
     <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
     <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
     <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
   </ul>
 </nav>



  <div ui-view class="body-content"></div>

  <!-- Vendor scripts -->
  <script src="public/vendor/jquery/dist/jquery.js"></script>

  <script src="public/vendor/socket.io-client/socket.io.js"></script>
  <script src="public/vendor/angular/angular.js"></script>
  <script src="public/vendor/angular-route/angular-route.js"></script>
  <script src="public/vendor/angular-resource/angular-resource.js"></script>
  <script src="public/vendor/angular-ui-router/release/angular-ui-router.js"></script>

  <script src="app/system/client/app.js"></script>
  <script src="app/system/client/routes/system.js"></script>

  <script src="app/users/client/services/auth.js"></script>
  <script src="app/users/client/controllers/auth.js"></script>
  <script src="app/users/client/services/user.js"></script>
  <script src="app/users/client/controllers/profile.js"></script>
  <script src="app/users/client/routes/users.js"></script>


</body>
</html>
