@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

body {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Roboto', Helvetica;
  background-color:#252830;
  color: #cfd2da;
}

input,
select,
textarea {
    max-width: 300px;

}

.form-control:focus {
  border-color: #19C670;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(112, 233, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(112, 233, 102, 0.6);
}

button:focus {
  outline: none !important;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: #ffffff;
}

.slack-name h2 {
  margin: 10px;
  font-size: 25px;
}

label {
  font-weight: normal;
}

.body-content {
  max-width:550px;
  margin-right: auto;
  margin-left: auto;
  padding:15px;
}

.btn.btn-default {
  text-shadow: none;
  background-image: none;
  color: #19C670;
  background-color: transparent;
  border-color: #19C670;
}

.btn.btn-default:hover {
  color: #fff;
  background-color: #19C670;
}

.form-control {
  color: #ffffff;
  background-color: #434857;
  background-image: none;
  border: 1px solid #434857;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  display: inline-flex;
}

.sidebar {
  display:inline-block;
  min-width: 220px;
  font-size: 12px;
  vertical-align: top;
  height:100%;
  background:#30333C;
  position:relative;
  padding: 0;
}

.sidebar .channel-list {
  margin-top:20px;
  position:relative;
}

.sidebar .channel-list .channel a{
  display:block;
  color:rgba(255,255,255,0.6);
  padding:3px 0px 3px 15px;
  width:90%;
  font-weight:300;

  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sidebar .channel .badge {
  font-size: 10;
  float: right;
  vertical-align: middle;
  background-color: #19C670;
}

.sidebar .channel-list .channel a:hover{
  text-decoration: none;
  background:#252830;
}

.sidebar .channel-list .channel a.selected{
  background:#4c9689;
  color:#fff;
  text-decoration: none !important;
}

.sidebar .channel-list .channel.create {
  font-style: italic;
}

.sidebar .channel-list .list-head {
  margin-top:10px;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.sidebar .my-info {
  position:fixed;
  bottom:0;
  padding:15px;
  background:#171717;
  min-width: 220px;
}

.sidebar .my-info .user-pic {
  display: inline-block;
  vertical-align: top;
  width:44px;
  height:44px;
  border-radius:4px;
}

.sidebar .my-info .user-info {
  padding-left:5px;
  display: inline-block;
  vertical-align: top;
}

.sidebar .my-info .user-info .user-name {
  color:#fff;
  font-size:16px;
  font-weight:bold;
}

.sidebar .my-info .user-info .options {
  color:#999;
  font-size:12px;
}

.sidebar .my-info .user-info .options a{
  color:#999;
  font-size:12px;
}

.sidebar .presence {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  background: #ab9ba9;
  vertical-align: baseline;
  margin-right: 3px;
}

.sidebar .channel-prefix::before {
  content: '# ';
  margin-right: 3px;

}

.sidebar .presence.online {
  background: #99d04a;
}

.messages {
  overflow-y: scroll;
  position: relative;
  height: 100%;
  padding-left: 15px;
}

.message-pane {
  display:inline-block;
  vertical-align: top;
  height:100%;
  width: 100%;
  padding:57px 0 65px 0;
  position: relative;
}

.message-pane .header {
  position:fixed;
  top:0;
  width:100%;
  z-index:2;
  border-bottom: 1px solid #555459;
  padding-left: 15px;
}

.message-pane .header h1 {
  padding:15px 0 15px 0;
  margin-top:0px;
  margin-bottom:0px;
  font-size:24px;
  color:#cfd2da;
  font-weight:600;
}

.message-pane .message-form {
  position: fixed;
  bottom: 0;
  padding: 0 25px 10px 0;


  // position: fixed;
  //   left: 50%;
  //   bottom: 0;
  //   padding-bottom: 10px;
  //   transform: translateX(-50%);
}

.message-pane .message-wrap {
  position:relative;
  margin-top:15px;
}

.message-pane .message-wrap .user-pic {
  width:36px;
  height:36px;
  border-radius:4px;
  display: inline-block;
  vertical-align: top;
}

.message-pane .message-wrap .message {
  font-size: 12px;
}

.message-pane .message-wrap .message-info {
  display: inline-block;
  vertical-align: top;
  padding-left:5px;
}

.message-pane .message-wrap .message-info .user-name {
  color:#555459;
  font-weight:900;
}

.message-pane .message-wrap .message-info .user-name span{
  color:#ccc;
  font-weight: normal;
  font-size:10px;
}

.message-pane .message-form {
  padding-left: 15px;
}

.message-pane .message-form .input-group input {
  resize: none!important;
  max-width: 100%;
  border-radius: 4px;

  &:focus {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.message-pane .search-box {
  margin: 13px 0 10px 30px;
  right: 8px;
  position: fixed;
}

.message-pane .channel-name {
  min-width: 500px;
}


@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
