doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content
    script(src='public/socket-io.client/socket.io.js')
    script
      var socket = io();
    
